.image-preview-container {
  text-align: center;
  margin: 20px;
}

.image-preview {
  width: 100%;
  height: 300px; /* Set the fixed height as needed */
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensure the image fits within the container */
  display: block;
}

.input-file {
  display: none;
}

.custom-upload-button {
  color: hsl(0, 0%, 0%);
  padding: 10px 20px;
  border: #979696 1px dashed;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.clear-button {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  color: red;
  border: red 1px dashed;
  bottom: 10px; /* Adjusted to be at the bottom of the container */
  right: 10px;
}
