.dropdown-container{
    .select-container{
        .dropdown{
            height: 44px;
            padding: 0 16px;
            // background-color: transparent;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
    }
}