// UsersManage.module.scss

.wrapper {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .heading {
        margin: 0;
    }

    .header-options {
        display: flex;
        align-items: center;
    }
}

.input-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        max-width: 100px; // Giới hạn chiều rộng của cột
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody tr:hover {
        background-color: #e0e0e0;
    }

    .action-column {
        text-align: center;
    }

    .content-icon {
        display: inline-block;
        padding: 8px;
        background-color: #3498db;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }
}

.pageSizeSelector {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    span {
        margin-right: 8px;
    }

    select {
        height: 30px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.pageSizeText {
    margin-left: 8px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;

    a {
        padding: 10px;
        margin: 0 5px;
        text-decoration: none;
        color: #333;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;

        &.prev,
        &.next {
            background-color: #f2f2f2;
        }

        &.active {
            background-color: #3498db;
            color: #fff;
        }

        &.disabled {
            pointer-events: none;
            color: #aaa;
            border-color: #ddd;
            background-color: #f9f9f9;
        }
    }
}

// UsersManage.module.scss

.roleCell,
.statusCell {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .roleName,
    .statusBadge {
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
        width: 80px;
        box-sizing: border-box;
        text-align: center;

        &._ADMIN {
            color: #ecf0f1;
            background-color: #3498db;
        }

        &._USER {
            color: #ecf0f1;
            background-color: #e74c3c;
        }

        &._PM {
            color: #ecf0f1;
            background-color: #27ae60;
        }

        &.activeStatus {
            background-color: #27ae60;
            color: #fff;
        }

        &.blockStatus {
            background-color: #e74c3c;
            color: #fff;
        }
    }

    .lastItem {
        /* Kiểu dáng cho phần tử cuối cùng */
    }

    flex-grow: 1; // Thêm dòng này
}

// UsersManage.module.scss

// UsersManage.module.scss

.action-column {
    .content-icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px; // Điều chỉnh chiều cao của icon theo ý muốn
    }

    // Thêm kiểu cho modal
    .modal {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 1;
        height: 100px; // Điều chỉnh chiều cao của modal theo ý muốn
        width: 200px; // Điều chỉnh chiều rộng của modal theo ý muốn
    }
}

// Your SCSS (UsersManage.module.scss)


.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .filter-section {
        height: 30px;

        display: flex;
        margin-right: 20px;

        .label {
            margin-right: 10px;
            font-weight: bold;
        }

        .select {
            height: 30px;
            // font-size: 14px;
            // padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            // Add other styling as needed
        }
    }
}

.dropdown {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 6px 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    z-index: -1;
}
.content {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 32px;
    .category {
        border: none;
        outline: none;
        width: 100%;
        padding: 4px 10px;
        option {
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}